/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .header_bottom {
    overflow: hidden;
  }
  .hb_float {
    float: left;
  }
  .hbn_logo {
    float: right;
    width: 150px;
    margin-top: 5px;
    margin-left: 45%;
    position: absolute;
  }
  .hbn_logo a img {
    padding-top: 5px;
  }
  .hb_nav_left {
    margin: 50px auto;
  }
  .hb_nav_left li a {
    padding: 0px !important;
    margin: 10px 30vw;
    text-align: center;
  }
  .hb_nav_right {
    text-align: center;
    margin: 0 22vw;
  }
  .hb_nav_right li a {
    padding: 0 10px !important;
    display: inline-block;
  }
  .hb_nav_right li:first-child a {
    padding: 0 10px !important;
  }
  .hero_div {
    padding: 10vh 10vw 10vh 10vw;
  }
  .hero_div h1 {
    font-size: 35px;
    padding: 0px 0px 0px 0px;
  }
  .hero_div p {
    padding: 20px 0px 20px 0px;
  }
  .c_btn {
    padding: 4px 12px;
  }
  .choose_top {
    padding-top: 35px;
  }
  .ct_text h2 {
    font-size: 25px;
  }
  .choose_bottom {
    padding-bottom: 20px;
  }
  .cb_item {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .counter {
    padding-top: 50px;
    padding-bottom: 0px;
  }
  .ctr_item {
    padding-bottom: 50px;
  }
  .ctri_icon img {
    max-width: 20%;
  }
  .ctri_number {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .ctri_line img {
    max-width: 15%;
  }
  .ctri_text {
    font-size: 20px;
    padding-top: 10px;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .header_bottom {
    overflow: hidden;
  }
  .hb_float {
    float: left;
  }
  .hbn_logo {
    float: right;
    width: 150px;
    margin-top: 5px;
    margin-left: 64%;
    position: absolute;
  }
  .hbn_logo a img {
    padding-top: 5px;
  }
  .hb_nav_left {
    margin: 50px auto;
  }
  .hb_nav_left li a {
    padding: 0px !important;
    margin: 10px 30vw;
    text-align: center;
  }
  .hb_nav_right {
    text-align: center;
    margin: 0 30vw;
  }
  .hb_nav_right li a {
    padding: 0 10px !important;
    display: inline-block;
  }
  .hb_nav_right li:first-child a {
    padding: 0 10px !important;
  }
  .hero_div {
    padding: 20vh 20vw 20vh 0vw;
  }
  .hero_div h1 {
    font-size: 30px;
  }
  .hero_div p {
    padding: 20px 25px;
  }
  .c_btn {
    padding: 4px 12px;
  }
  .f_item {
    padding: 50px 0px;
  }
  .f_item_bgc {
    background-color: #1A9BDC;
  }
  .f_item_bgc:nth-child(2) {
    background-color: #37c3a8;
  }
  .f_item_bgc:nth-child(3) {
    background-color: #37c3a8;
  }
  .f_item_bgc:nth-child(4) {
    background-color: #1A9BDC;
  }
  .choose_top {
    padding-top: 35px;
  }
  .ct_text h2 {
    font-size: 25px;
  }
  .choose_bottom {
    padding-bottom: 20px;
  }
  .cb_item {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .counter {
    padding-top: 50px;
    padding-bottom: 0px;
  }
  .ctr_item {
    padding-bottom: 50px;
  }
  .ctri_icon img {
    max-width: 25%;
  }
  .ctri_number {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .ctri_line img {
    max-width: 20%;
  }
  .ctri_text {
    font-size: 20px;
    padding-top: 10px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .header_bottom {
    overflow: hidden;
  }
  .hb_float {
    float: left;
  }
  .hbn_logo {
    float: right;
    width: 150px;
    margin-top: 5px;
    margin-left: 71%;
    position: absolute;
  }
  .hbn_logo a img {
    padding-top: 5px;
  }
  .hb_nav_left {
    margin: 50px auto;
  }
  .hb_nav_left li a {
    padding: 0px !important;
    margin: 10px 40vw;
    text-align: center;
  }
  .hb_nav_right {
    text-align: center;
    margin: 0 34vw;
  }
  .hb_nav_right li a {
    padding: 0 10px !important;
    display: inline-block;
  }
  .hb_nav_right li:first-child a {
    padding: 0 10px !important;
  }
  .hero_div {
    padding: 20vh 28vw 20vh 0vw;
  }
  .hero_div h1 {
    font-size: 35px;
  }
  .hero_div p {
    padding: 20px 32px;
  }
  .c_btn {
    padding: 5px 15px;
  }
  .f_item {
    padding: 50px 30px;
  }
  .f_item_bgc {
    background-color: #1A9BDC;
  }
  .f_item_bgc:nth-child(2) {
    background-color: #37c3a8;
  }
  .f_item_bgc:nth-child(3) {
    background-color: #37c3a8;
  }
  .f_item_bgc:nth-child(4) {
    background-color: #1A9BDC;
  }
  .choose_top {
    padding-top: 50px;
  }
  .ct_text h2 {
    font-size: 28px;
  }
  .cb_item {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .cbi_title_img img {
    width: 80%;
  }
  .counter {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .ctri_icon img {
    max-width: 40%;
  }
  .ctri_number {
    font-size: 45px;
    padding-top: 30px;
  }
  .ctri_line img {
    max-width: 40%;
  }
  .ctri_text {
    font-size: 20px;
    padding-top: 10px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .ht_col_padding {
    padding-left: 3px !important;
    padding-right: 3px !important;
  }
  .hti_icon i {
    padding: 6px;
    font-size: 13px;
  }
  .hti_text {
    padding-left: 18px;
  }
  .htit_title {
    font-size: 13px;
  }
  .htit_text {
    font-size: 13px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .header_top {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .hti_icon i {
    padding: 8px;
    font-size: 14px;
  }
  .hti_text {
    padding-left: 12px;
  }
  .htit_title {
    font-size: 14px;
  }
  .htit_text {
    font-size: 14px;
  }
}
/* Extra extra large devices (extra large desktops, 1400px and up) */
@media (min-width: 1400px) {
  .header_top {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .choose_top {
    padding-top: 80px;
    padding-bottom: 20px;
  }
  .ct_text h2 {
    padding-bottom: 10px;
    font-size: 30px;
  }
  .counter {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .ctri_number {
    padding-top: 50px;
  }
}/*# sourceMappingURL=media.css.map */