// import start
@import "variables";
// import end
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    // header bottom start
    .hbn_logo a img {
        width: 160px;
    }
    .hb_nav_left {
        margin: 50px auto;
        li {
            a {
                padding: 0px !important;
                margin: 10px 30vw;
                text-align: center;
            }
        }
    }
    .hb_nav_right {
        text-align: center;
        margin: 0 22vw;
        li {
            a {
                padding: 0 10px !important;
                display: inline-block;
            }
            &:first-child {
                a {
                    padding: 0 10px !important;
                }
            }
        }
    }
    // header bottom end
    // hero start
    .hero_div {
        padding: 10vh 10vw 10vh 10vw;
        h1 {
            font-size: 35px;
            padding: 0px 0px 0px 0px;
        }
        p {
            padding: 20px 0px 20px 0px;
        }
    }
    .c_btn {
        padding: 4px 12px;
    }
    // hero end
    // choose top start
    .choose_top, .bl_top, .br_top {
        padding-top: 35px;
    }
    .ct_text h2, .blt_text h2, .brt_text h2 {
        font-size: 25px;
    }
    // choose top end
    // choose bottom start
    .choose_bottom {
        padding-bottom: 20px;
    }
    .cb_item {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    // choose bottom end
    // counter start
    .counter {
        padding-top: 50px;
        padding-bottom: 0px;
    }
    .ctr_item {
        padding-bottom: 50px;
    }
    .ctri_icon img {
        max-width: 20%;
    }
    .ctri_number {
        font-size: 40px;
        padding-top: 20px;
        padding-bottom: 15px;
    }
    .ctri_line img {
        max-width: 15%;
    }
    .ctri_text {
        font-size: 20px;
        padding-top: 10px;
    }
    // counter end
    // blog left start
    .bl_bottom {
        padding-bottom: 10px;
    }
    .blb_item_left {
        padding-right: 0px;
    }
    .blb_item_right {
        padding-left: 0px;
    }
    .blb_item h5 {
        padding-top: 10px;
    }
    .blb_item h5 {
        padding-top: 5px;
    }
    // blog left end
    // gallery start
    .gallery {
        .gellery_bottom {
            padding-bottom: 30px;
            .gb_item {
                img {}
            }
        }
    }
    // gallery end
    // team start
    .team {
        .team_bottom {
            padding-bottom: 40px;

            .t_item {
                .ti_img {
                    img {}
                }

                h5 {
                }

                p {
                }

                .ti_social {
                    a {

                        i {}
                    }
                }
            }
        }
    }

    // team end
    // offer start
    .offer {
        padding-top: 20px;
        padding-bottom: 20px;
        span {
            padding-right: 0px;
            font-size: 18px;

        }
        a {
            margin-top: 10px;
        }
    }
    // offer end
    // footer top start
    .footer_top {
        padding-top: 40px;
        padding-bottom: 40px;

        .ft_touch {
            h5 {
                padding-bottom: 25px;
            }
            .ftt_item {
                padding-bottom: 20px;
                .ftti_icon {
                    i {

                    }
                }

                .ftti_text {
                    a {

                    }
                }

            }

            .ftt_social {
                ul {

                    li {
                        a {
                            i {}
                        }
                    }
                }
            }
        }
        .ft_links {
            h5 {
                padding-top: 10px;
                padding-bottom: 25px;
            }
            ul {
                li {
                    a {
                        i {

                        }
                    }
                }
            }
        }
    }

    // footer top end
    // footer bottom start
    .footer_bottom {
        padding-top: 20px;
        padding-bottom: 20px;

        p {

            a {
            }
        }
    }

    // footer bottom end
}
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    // header bottom start
    .hbn_logo a img {
        width: 160px;
    }
    .hb_nav_left {
        margin: 50px auto;
    }
    .hb_nav_left li {
        a {
            padding: 0px !important;
            margin: 10px 30vw;
            text-align: center;
        }
    }
    .hb_nav_right {
        text-align: center;
        margin: 0 30vw;
        li {
            a {
                padding: 0 10px !important;
                display: inline-block;
            }
            &:first-child {
                a {
                    padding: 0 10px !important;
                }
            }
        }
    }
    // header bottom end
    // hero start
    .hero_div {
        padding: 20vh 20vw 20vh 0vw;
        h1 {
            font-size: 30px;
        }
        p {
            padding: 20px 25px;
        }
    }
    .c_btn {
        padding: 4px 12px;
    }
    // hero end
    // feature start
    .f_item {
        padding: 50px 0px;
    }
    .f_item_bgc {
        background-color: $accentColor;
        &:nth-child(2) {
            background-color: $accentColorLight;
        }
        &:nth-child(3) {
            background-color: $accentColorLight;
        }
        &:nth-child(4) {
            background-color: $accentColor;
        }
    }
    // feature end
    // choose top start
    .choose_top, .bl_top, .br_top {
        padding-top: 35px;
    }
    .ct_text h2, .blt_text h2, .brt_text h2 {
        font-size: 25px;
    }
    // choose top end
    // choose bottom start
    .choose_bottom {
        padding-bottom: 20px;
    }
    .cb_item {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    // choose bottom end
    // counter start
    .counter {
        padding-top: 50px;
        padding-bottom: 0px;
    }
    .ctr_item {
        padding-bottom: 50px;
    }
    .ctri_icon img {
        max-width: 25%;
    }
    .ctri_number {
        font-size: 40px;
        padding-top: 20px;
        padding-bottom: 15px;
    }
    .ctri_line img {
        max-width: 20%;
    }
    .ctri_text {
        font-size: 20px;
        padding-top: 10px;
    }
    // counter end
    // blog left start
    .bl_bottom {
        padding-bottom: 20px;
    }
    .blb_item_left {
        padding-right: 0px;
    }
    .blb_item_right {
        padding-left: 0px;
    }
    // blog left end
    // gallery start
    .gallery {
        .gellery_bottom {
            padding-bottom: 30px;
            .gb_item {
                img {}
            }
        }
    }
    // gallery end
    // team start
    .team {
        .team_bottom {
            padding-bottom: 40px;

            .t_item {
                .ti_img {
                    img {}
                }

                h5 {
                }

                p {
                }

                .ti_social {
                    a {

                        i {}
                    }
                }
            }
        }
    }

    // team end
    // offer start
    .offer {
        padding-top: 20px;
        padding-bottom: 20px;
        span {
            padding-right: 0px;
            font-size: 20px;

        }
        a {
            margin-top: 10px;
        }
    }
    // offer end
    // footer top start
    .footer_top {
        padding-top: 40px;
        padding-bottom: 40px;

        .ft_touch {
            h5 {
                padding-bottom: 25px;
            }
            .ftt_item {
                padding-bottom: 20px;
                .ftti_icon {
                    i {

                    }
                }

                .ftti_text {
                    a {

                    }
                }

            }

            .ftt_social {
                ul {

                    li {
                        a {
                            i {}
                        }
                    }
                }
            }
        }
        .ft_links {
            h5 {
                padding-bottom: 25px;
            }
            ul {
                li {
                    a {
                        i {
                        }
                    }
                }
            }
            .ftlh_mdsm_pt {
                padding-top: 25px;
            }
        }
    }

    // footer top end
    // footer bottom start
    .footer_bottom {
        padding-top: 20px;
        padding-bottom: 20px;

        p {

            a {
            }
        }
    }

    // footer bottom end
}
 
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    // header bottom start
    .hbn_logo a img {
        width: 160px;
    }
    .hb_nav_left {
        margin: 50px auto;
        li {
            a {
                padding: 0px !important;
                margin: 10px 40vw;
                text-align: center;
            }
        }
    }
    .hb_nav_right {
        text-align: center;
        margin: 0 34vw;
        li {
            a {
                padding: 0 10px !important;
                display: inline-block;
            }
            &:first-child {
                a {
                    padding: 0 10px !important;
                }
            }
        }
    }
    // header bottom end
    // hero start
    .hero_div {
        padding: 20vh 28vw 20vh 0vw;
        h1 {
            font-size: 35px;
        }
        p {
            padding: 20px 32px;
        }
    }
    .c_btn {
        padding: 5px 15px;
    }
    // hero end
    // feature start
    .f_item {
        padding: 50px 30px;
    }
    .f_item_bgc {
        background-color: $accentColor;
        &:nth-child(2) {
            background-color: $accentColorLight;
        }
        &:nth-child(3) {
            background-color: $accentColorLight;
        }
        &:nth-child(4) {
            background-color: $accentColor;
        }
    }
    // feature end
    // choose top start
    .choose_top, .bl_top, .br_top {
        padding-top: 50px;
    }
    .ct_text h2, .blt_text h2, .brt_text h2 {
        font-size: 28px;
    }
    // choose top end
    // choose bottom start
    .cb_item {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .cbi_title_img img {
        width: 80%;
    }
    // choose bottom end
    // counter start
    .counter {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .ctri_icon img {
        max-width: 40%;
    }
    .ctri_number {
        font-size: 45px;
        padding-top: 30px;
    }
    .ctri_line img {
        max-width: 40%;
    }
    .ctri_text {
        font-size: 20px;
        padding-top: 10px;
    }
    // counter end
    // blog left start
    .bl_bottom {
        padding-bottom: 20px;
    }
    // blog left end
    // gallery start
    .gallery {
        .gellery_bottom {
            padding-bottom: 40px;
            .gb_item {
                img {}
            }
        }
    }
    // gallery end
    // team start
    .team {
        .team_bottom {
            padding-bottom: 50px;

            .t_item {

                .ti_img {
                    img {}
                }

                h5 {
                }

                p {
                }

                .ti_social {
                    a {

                        i {}
                    }
                }
            }
        }
    }

    // team end
    // offer start
    .offer {
        padding-top: 25px;
        padding-bottom: 25px;
        span {
            padding-right: 0px;

        }
        a {
            margin-top: 15px;
        }
    }
    // offer end
    // footer top start
    .footer_top {
        padding-top: 50px;
        padding-bottom: 50px;

        .ft_touch {
            h5 {
            }
            .ftt_item {

                .ftti_icon {
                    i {

                    }
                }

                .ftti_text {
                    a {

                    }
                }

            }

            .ftt_social {
                ul {

                    li {
                        a {
                            i {}
                        }
                    }
                }
            }
        }
        .ft_links {
            h5 {
            }
            ul {
                li {
                    a {
                        i {
                        }
                    }
                }
            }
            .ftlh_mdsm_pt {
                padding-top: 30px;
            }
        }
    }

    // footer top end
    // footer bottom start
    .footer_bottom {
        padding-top: 25px;
        padding-bottom: 25px;

        p {

            a {
            }
        }
    }

    // footer bottom end
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    // header top start
    .ht_col_padding {
        padding-left: 3px !important;
        padding-right: 3px !important;
    }
    .hti_icon i {
        padding: 6px;
        font-size: 13px;
    }
    .hti_text {
        padding-left: 18px;
    }
    .htit_title {
        font-size: 13px;
    }
    .htit_text {
        font-size: 13px;
    }
    // header top end
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    // header top start
    .header_top {
        padding-top: 18px;
        padding-bottom: 18px;
    }
    .hti_icon i {
        padding: 8px;
        font-size: 14px;
    }
    .hti_text {
        padding-left: 12px;
    }
    .htit_title {
        font-size: 14px;
    }
    .htit_text {
        font-size: 14px;
    }
    // header top end
}
 
/* Extra extra large devices (extra large desktops, 1400px and up) */
@media (min-width: 1400px) {
    // header start
    .header_top {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    // header end
    // choose top start
    .choose_top, .bl_top, .br_top {
        padding-top: 80px;
    }
    .ct_text h2, .blt_text h2, .brt_text h2 {
        font-size: 30px;
    }
    .ct_text p, .blt_text p, .brt_text p {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    // choose top end
    // counter start
    .counter {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .ctri_number {
        padding-top: 50px;
    }
    // counter end
}