// import start
@import "variables";
// import end
// fonts start
@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans/OpenSans-Bold.ttf);
}
@font-face {
    font-family: Montserrat-Medium;
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato/Lato-Bold.ttf);
}
// fonts end
// common start
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: $primaryFontRegular;
    font-size: 16px;
    color: $secondaryColor;
    line-height: 28px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $secondaryFontBold;
    color: $secondaryColor;
}
// common end
// header top start
header {}
.header_top {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $secondaryColorOpacity;
}
.ht_logo {}
.ht_item {
    overflow: hidden;
}
.hti_icon {
    float: left;
    margin-top: 5px;
}
.hti_icon i {
    color: $primaryColor;
    background-color: $accentColor;
    padding: 10px;
}
.hti_text {
    float: left;
    padding-left: 15px;
}
.htit_title {
    font-family: $primaryFontBold;
    font-size: 15px;
    display: block;
}
.htit_text {
    font-size: 15px;
    display: block;
}
// header top end
// header-bottom start
.header_bottom {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $primaryColor;
}
.hb_float {
}
.hb_nav_left {
    
}
.hb_nav_left li {}
.hb_nav_left li a {
    font-family: $accentFontBold;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.hb_nav_left li:first-child a {
    padding-left: 0px !important;
}
.hb_nav_left li a:hover, .hb_nav_left li a .active {
    color: $secondaryColorDark !important;
}
.hb_nav_right {}
.hb_nav_right li {}
.hb_nav_right li a {
    color: $secondaryColorDark !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.hb_nav_right li:last-child a {
    padding-right: 0px !important;
}
.hb_nav_right li a:hover {
    
}

// toggler animation start
.navbar-toggle {
    border: none;
    background-color: transparent;
}
.navbar-toggle span {
    display: block;
    background-color: $secondaryColor;
    height: 3px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: all 0.35s ease-out;
    transform-origin: center left;
}
.navbar-toggle span:nth-child(1) {
    margin-top: 0.3em;
}
.navbar-toggle:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
}
.navbar-toggle:not(.collapsed) span:nth-child(2) {
    opacity: 0;
}
.navbar-toggle:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg) ;
}
.navbar-toggle span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg) ;
}
.navbar-toggle span:nth-child(2) {
    opacity: 1;
}
.navbar-toggle span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg) ;
}
// toggler animation end
// header-bottom end
// hero start
.hero {
    background-image: url(../images/hero/hero-bg.png);
    background-position: center top;
    background-size: cover;
}
.hero_div {
    padding: 20vh 37vw 20vh 2vw;
    text-align: center;
}
.hero_div h1 {
    font-size: 42px;
}
.hero_div p {
    padding: 20px 42px;
}
.c_btn {
    font-family: $accentFontBold;
    color: $primaryColor !important;
    background-color: $accentColor;
    padding: 5px 15px;
    transition: .3s;
}
.c_btn:hover {
    background-color: $secondaryColor;
}
// hero end
// feature start
.feature {}
.f_item {
    padding: 50px 0px;
}
.f_item_bgc {
    background-color: $accentColor;
}
.f_item_bgc:nth-child(2) {
    background-color: $accentColorLight;
}
.f_item_bgc:nth-child(3) {
    background-color: $accentColor;
}
.f_item_bgc:nth-child(4) {
    background-color: $accentColorLight;
}
.fi_img {
}
.fi_img img {
    position: relative;
    left: 50%;
    margin-left: -37px;
}
.fi_text {
    text-align: center;
}
.fi_text h4 {
    font-size: 25px;
    color: $primaryColor;
    padding: 10px 0px;
}
.fi_text p {
    color: $primaryColor;
}
// feature end
// choose top start
.choose_top {
    padding-top: 80px;
    padding-bottom: 20px;
}
.ct_text {
    text-align: center;
}
.ct_text h2 {
    padding-bottom: 10px;
    font-size: 30px;
}
.ct_text p {}
// choose top end
// choose bottom start
.choose_bottom {
    
}
.cb_item {
    padding-top: 30px;
    padding-bottom: 30px;
}
.cbi_title {}
.cbi_title_img {}
.cbi_title_img img {}
.cbi_title_text {}
.cbi_title_text h4 {
    font-size: 25px;
}
.cbi_text {}
.cbi_text p {
    padding-top: 10px;
}
// choose bottom end
// counter start
.counter {
    padding-top: 80px;
    padding-bottom: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
}
.ctr_item {
    text-align: center;
}
.ctri_icon {
}
.ctri_icon img {
    
}
.ctri_number {
    font-family: $secondaryFontMedium;
    font-size: 50px;
    color: $primaryColor;
    padding-top: 40px;
    padding-bottom: 20px;
}
.ctri_line {}
.ctri_line img {
    
}
.ctri_text {
    display: block;
    font-family: $secondaryFontMedium;
    font-size: 25px;
    line-height: 30px;
    color: $primaryColor;
    padding-top: 20px;
}
// counter end


