// variables start
$primaryFontRegular: OpenSans-Regular; 
$primaryFontBold: OpenSans-Bold;
$secondaryFontMedium: Montserrat-Medium; 
$secondaryFontBold: Montserrat-Bold; 
$accentFontBold: Lato-Bold;

$primaryColor: #ffffff;
$secondaryColor: #494949;
$secondaryColorOpacity: #49494985;
$secondaryColorDark: #191919;
$accentColor: #1A9BDC;
$accentColorLight: #37c3a8;
// variables end